<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">




    <!--    Here i have used autowire by type but both class laptop and desktop implement same type of class that is machine and we also want machine so i creayte confusiopn to solve this we make one primary so to use that-->
    <bean id="code" class="org.example.Coder" autowire="byType">
        <property name="system">
            <bean id="lappy" class="org.example.Laptop" >
            </bean>
        </property>
    </bean>





</beans>
