<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">




    <!--    Here i have used autowire by type but both class laptop and desktop implement same type of class that is machine and we also want machine so i creayte confusiopn to solve this we make one primary so to use that-->
    <bean id="code" class="org.example.Coder" autowire="byType">
    </bean>

    <bean id="Desktop" class="org.example.Desktop"  lazy-init="true" >
    </bean>

    <bean id="Desktop2" class="org.example.Desktop"  lazy-init="true" >
    </bean>

    <bean id="lap" class="org.example.Laptop" primary="true" lazy-init="true">
    </bean>



</beans>
