<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">





    <bean id="code" class="org.example.Coder" autowire="byType">

<!--    This is Inner bean means this laptop bean can only used by Coder class    -->
        <property name="system">
            <bean id="lappy" class="org.example.Laptop" >
            </bean>
        </property>

    </bean>





</beans>
